fastapi==0.141.1
uvicorn==0.52.4

paddlepaddle==3.2.0
paddleocr==3.7.0

opencv_contrib_python==4.10.0.84
opencv_python==5.0.0.93

SQLAlchemy==2.0.43
psycopg2-binary==2.9.10
python-dotenv==1.1.1
python-multipart==0.0.20
